In [3]:
import pandas as pd

In [4]:
chase = pd.read_csv('ChaseCC.csv')
citi = pd.read_csv('CitiCC.csv')
mint = pd.read_csv('Mint.csv')

In [5]:
chase.head(5)

,Transaction Date,Post Date,Description,Category,Type,Amount,Memo
0,12/21/2020,12/21/2020,UBER EATS,Food & Drink,Sale,-47.69,NaN
1,12/16/2020,12/17/2020,TVY*FITNESSYOURWAY,Health & Wellness,Sale,-25.00,NaN
2,12/14/2020,12/14/2020,UBER EATS,Food & Drink,Sale,-32.66,NaN
3,12/13/2020,12/13/2020,UBER EATS,Food & Drink,Sale,-42.77,NaN
4,12/10/2020,12/11/2020,SPRINT *WIRELESS,Bills & Utilities,Sale,-114.54,NaN

In [6]:
citi.head(5)

,Status,Date,Description,Debit,Credit
0,Cleared,12/24/2020,PAYPAL *B H PHOTO 4029357733 NY Digital Accoun...,NaN,-449.99
1,Cleared,12/24/2020,PAYPAL *AMAGICOM AB 35314369001 SWE,6.36,NaN
2,Cleared,12/22/2020,TRADER JOE'S #692 QPS BRENTWOOD MO,115.62,NaN
3,Cleared,12/21/2020,PAYPAL *SPOTIFYUSAI 4029357733 NY Digital Acco...,10.69,NaN
4,Cleared,12/19/2020,Amazon Prime*YG8V21593 8665572820 WA,126.14,NaN

In [7]:
mint.head(5)

,Date,Description,Original Description,Amount,Transaction Type,Category,Account Name,Labels,Notes
0,12/26/2020,PAYMENT THANK YOU,PAYMENT THANK YOU,1550.96,credit,Credit Card Payment,Citi® / AAdvantage® Platinum Select®,NaN,NaN
1,12/24/2020,MICRO CENTER BRNTWD-09 BRENTWOOD MO,MICRO CENTER BRNTWD-09 BRENTWOOD MO,498.32,debit,Shopping,Citi® / AAdvantage® Platinum Select®,NaN,NaN
2,12/25/2020,Interest Paid,Interest Paid,8.86,credit,Interest Income,Online Savings Account,NaN,NaN
3,12/24/2020,B H Photo,PAYPAL *B H PHOTO 4029357733 NY,449.99,credit,Shopping,Citi® / AAdvantage® Platinum Select®,NaN,NaN
4,12/24/2020,AMAGICOM AB 35314369001 SWE,PAYPAL *AMAGICOM AB 35314369001 SWE,6.36,debit,Shopping,Citi® / AAdvantage® Platinum Select®,NaN,NaN